html{
  font-family: sans-serif;
}
body{
  margin: 0;
}
header {
  background-color: #bf7fff;
  width: 100%;
  height: 120px;
  display: flex;
  opacity: 0.8;
}
.header-logo{
  color: white;
  font-size: 55px;
  text-align: center;
  margin-top: 17px;
  margin-left: 180px;
}
.header-logo a {
  text-decoration: none;
  color: white;
}
.option a{
  text-decoration: none;
  color: white;
}
a:hover {
  opacity: 0.6;
  cursor: pointer;
}
.options{
  list-style: none;
  margin: 60px auto;
  display: flex;
}
.option {
  float: left;
  padding: 0 18px;
  font-size: 20px;
  line-height: 0.01em;
  
}
.one-photo {
  background-image: url("https://cdn.glitch.global/8cba6ad6-d50e-4f9e-a87b-bff1276072e4/photo0000-4233.jpg?v=1657958819054");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  padding: 1px;
}
.one-photo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
.one-text h1 {
  color: indigo;
  font-size: 80px;
  text-align: center;
  line-height: 180px;
}
.one-text p{
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  color: darkblue;
  font-size: 20px;
}
.wrapper {
  background-color: #ffffe0;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  padding: 1px;
}
.wrapper-title h2{
  color: darkgreen;
  text-align: center;
  font-size: 60px;
  line-height: 120px;
}
.contents {
  display: flex;
}
.each-content img {
  width: 300px;
  height: auto;
  padding-left: 45px;
  float: left;
}
.text-type {
  color: brown;
  padding-left: 50px;
  line-height: 90px;
  font-size: 28px;
}
.text-writing {
  width: 85%;
  line-height: 30px;
  font-weight: bold;
  padding-left: 35px;
  
}
.back-color {
  background-image: url("https://d1f5hsy4d47upe.cloudfront.net/0e/0e42588d84ed512897dfda3af8806b5f_t.jpeg");
  height: 1500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 1px;
}
.back-color::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(70,10,50,0.3);
}
.my-career h1 {
  text-align: center;
  color: #ffff00;
  font-size: 60px;
  padding-top: 30px;
  text-shadow: 0px 0px 15px #000000;
}
.my-career dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.my-career dl dt {
    text-align: center;
    width: 12.5em;
    padding: 0.5em 1.0em 0.5em 0.5em;
    position: relative;
    color: #ffffff;
    text-shadow: 0px 0px 15px #000000;
    font-size: 20px;
}
.my-career dl dd {
    width: calc(100% - 8.5em);
    padding: 0.5em 2.0em 3.0em;
    border-left: 10px solid white;
}
.my-career dl dt::after {
    content: '●';
    position: absolute;
    right: -1em;
    top: 6px;
    font-size: 25px;
    color: orange;
}
.my-career h2 {
  color: cyan;
  text-shadow: 0px 0px 30px #000000;
  font-size: 30px;
}
.my-career p {
  color: #00ff00;
  text-shadow: 0px 0px 30px #000000;
  font-size: 20px;
  font-weight: bold;
}
.pastel-dot {
  background-image: url("https://frame-illust.com/fi/wp-content/uploads/2015/01/88a809cd09d9b50634faa6445fccf03e.png");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 1px;
}
.info-text h1{
  text-align: center;
  color: indigo;
  font-size: 60px;
  padding-top: 30px;
}
.info-text p{
  text-align: center;
  font-size: 25px;
  line-height: 60px;
}
.info-sns h2{
  text-align: center;
  font-size: 30px;
  color: mediumblue;
  padding-top: 60px;
}
.info-sns p{
  text-align: center;
  font-size: 30px;
}
.info-sns a{
  text-decoration: none;
  color: black;
}
footer {
  background-color: #bf7fff;
  width: 100%;
  height: 120px;
  line-height: 40px;
  opacity: 0.8;
  padding: 1px;
  bottom: 0;
  
}
.footer-logo h1{
  color: white;
  font-size: 45px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}
.footer-logo p {
  color: white;
  font-size: 20px;
  padding: 0 20px;
  text-align: center;
}



